@media (max-width: 620px) {
    .nosso-slider {
padding: 0 15px;
gap: 10px;
    }

    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fotos {
        height: 480px;
    }

    .cartao .imagem-nossa {
        max-height: 230px;
    }

    .cartao .informacoes .atividade {
        max-width: 50%;
        font-size: 18px;
    }

    .cartao .informacoes .data {
        font-size: 14px;
    }
}